@font-face {
    font-family: 'medium';
    font-style: normal;
    font-weight: normal;
    src: url('./fonts/PFDinTextCompPro/medium.woff2') format('woff2'),
         url('./fonts/PFDinTextCompPro/medium.woff') format('woff');
}

@font-face {
    font-family: 'regular';
    font-style: normal;
    font-weight: normal;
    src: url('./fonts/PFDinTextCompPro/regular.woff2') format('woff2'),
         url('./fonts/PFDinTextCompPro/regular.woff') format('woff');
}

body {
    background-color: #bbb;
    font-family: 'regular';
    padding: 0;
    margin: 0;
    min-width: 100%;
    min-height: 100%;
}
